<h3 class="text-center mb-5">Check My Order Status</h3>
   <div class="container-fluid">
    <table border="1" aria-describedby="mydesc"> 
        <thead>
            <th scope="col">S.no</th>
            <th scope="col">Items
               
            </th>
            <th scope="col">Ordered By</th>
            <th scope="col">Ordered Date</th>
            <th scope="col">Bill Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </thead>
        <tbody *ngFor="let place of placeOrderList; let i=index;">
            <td>{{i+1}}</td>
            <td>
                <ul class="text-center unorderedlist">
                    <li *ngFor="let item of place.items">
                        {{item.productName}} - {{item.unit}} - Rs. {{item.price}} - Rs. {{item.totalPrice}}
                    </li>
                </ul>
                <!-- <table border="1" aria-describedby="mydesc">
                    <thead class="thead2">
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of place.items">
                        <td>{{item.productName}}</td>
                        <td>{{item.unit}} Kg</td>
                        <td>{{item.price}}</td>
                        </tr>
                    </tbody>
                </table> -->
            </td>
            <td>{{place.createdBy}}</td>
            <td>{{place.date | date: "dd-MMM-yyyy"}}</td>
            <td>Rs. {{place.totalBillAmount}}</td>
            <td>{{place.status}}</td>
            <td><a *ngIf="place.status=='ORDER'" href="/myOrder" (click)="changeCancelled(place)">Cancel</a></td>
        </tbody>
    </table>
   </div>