<div class="container">
 
    <div class="text-center mt-5 mb-5">
        <input type="text" name="category" id="category" [(ngModel)]="selectedCategory" placeholder="        Search Ex: apple" autofocus>        
    </div>

        <div class="row">

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4" *ngFor="let productItem of items | category:selectedCategory">
                <div><img src="assets/images/{{productItem.imageUrl}}" width="150px" height="150px">
                    <figcaption>{{productItem.name}}</figcaption>
                    <p>{{productItem.unit}} {{productItem.type}} - <i class="fas fa-rupee-sign" aria-hidden="true"></i>
                        {{productItem.price}}</p>
                    <button type="button" (click)="addCart(productItem._id, productItem.name, productItem.unit, productItem.type, productItem.price)"
                        class="add" [class.selected-item] = "isItemAdded(productItem.name)" 
                        [disabled]="isItemAdded(productItem.name)">{{isItemAdded(productItem.name)?"Added":"Add"}}</button>
                </div>
            </div>

        </div>

</div>