<h3 class="text-center mb-5">Product Remove to List</h3>

<div class="text-center mb-5">
    <input type="text" name="category" id="category" [(ngModel)]="selectedCategory" placeholder="        Search Ex: apple">
</div>


<table border="1" aria-describedby="mydesc">
    <thead appItemAddedToCart>
        <th scope="col">S.no</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">imageUrl</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
    </thead>
    <tbody *ngFor="let list of (ascProductList | category:selectedCategory); let i=index">
        <td>{{i+1}}</td>
        <td>{{list.name}}</td>
        <td>{{list.price}}</td>
        <td>{{list.imageUrl}}</td>
        <td>{{list.category}}</td>
        <td><a class="badge" (click)="removeProduct(list._id, list._rev)"> <i style="color:red" class="fas fa-trash-alt"></i> Delete</a></td>
    </tbody>
</table>