<!-- order form start -->

    <div>
        <h3 class="text-center">Order Now</h3>
                <div class="text-center">
                    <label id="email">{{this.user.email}}</label>
                </div>

            <table border="1" aria-describedby="mydesc">
                <thead>
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col">Product</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody  id="table">
                    <tr *ngFor="let item of cartItems;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.productName}}</td>
                        <td><input type="number" [(ngModel)]="cartItems[i].unit" (change)="updatePrice(i)"></td>
                        <td>{{item.price}}</td>
                        <td>{{item.totalPrice}}</td>
                        <td><a href="ordernow" (click)="removeItem(item.productName)">Delete</a></td>
                    </tr>
                   
                    <!-- <tr>
                        <td colspan="3" class="total">Total </td>
                    </tr> -->
                </tbody>
                <tfoot>
                    <tr><th colspan="4">Total Amount</th><th>Rs.{{totalBillAmount}}</th></tr>
                </tfoot>
            </table>
            <div class="text-center">
                <button class="btn btn-secondary" type="button" (click)="orderMore()" routerLink="/home">Order More</button>
                <button class="btn btn-danger" type="button" (click)="emptyCart()">Empty Cart</button>
                <button class="btn btn-primary" type="button" (click)="confirmOrder()">Confirm Order</button>
            </div>
           
        </div>
<!-- order form end -->