<!-- order form start -->

    <div>
        <h3 class="text-center">Order Now</h3>
                <div class="text-center">
                    <label id="email">{{email}}</label>
                </div>

            <table border="1" aria-describedby="mydesc">
                <thead>
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col">Product</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody  id="table">
                    <tr *ngFor="let item of cartItems;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.productName}}</td>
                        <td>{{item.unit}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.totalPrice}}</td>
                    </tr>
                   
                    <!-- <tr>
                        <td colspan="3" class="total">Total </td>
                    </tr> -->
                </tbody>
            </table>
            <div class="text-center">
                <button class="btn btn-danger" type="button" (click)="emptyCart()">Empty Cart</button>
                <button class="btn btn-primary" type="button" (click)="confirmOrder()">Confirm Order</button>
            </div>
           
        </div>
<!-- order form end -->